

.flex-container {
    display: flex;

}

.flex-container div {
    
    background: peachpuff;
    height: 100px;
    flex: 1 1 0%;
}

.flex-container .one {
    height: auto;
    margin: 8px;
    padding: 8px;
}

.flex-container .two {
    height: auto;
    padding: 8px;
    text-align: left;
    margin: 8px;
}


.flex-button {
    display: flex;
}

.flex-button {
    background-color: black;
    border: 0px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    flex-direction: column;
    

}

.jollof {
    background-color: burlywood;
}





.main-dashboard {
    background-color: beige;
}

.main-d-header {
    display: flex;

}
.main-d-header {
    background-color: aqua;
    border: 8px;
    padding: 8px;

    flex: auto;
    
}

.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: b;
}

.item {

    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
}